mixin a-text(data = {})
  if (data.size='small')
    .a-smalltext(data-color=data.color)
      block
  else if (data.size='medium')
    .a-mediumtext(data-color=data.color)
      block
  else if (data.size="large")
    .a-largetext(data-color=data.color)
      block

