include ../components/a-smalltext/a-smalltext
include ../components/a-mediumtext/a-mediumtext
include ../components/a-largetext/a-largetext

html
  head
    meta(charaset='utf-8')
    title TRPG 10th
  body
    +a-smalltext() 
      | small text
    +a-mediumtext()
      | medium text
    +a-largetext()
      | large text
