include ../components/a-smalltext/a-smalltext
include ../components/a-mediumtext/a-mediumtext
include ../components/a-largetext/a-largetext
include ../components/o-header/o-header

html
  head
    meta(charaset='utf-8')
    title TRPG 10th
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com' crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap', rel='stylesheet')
    meta(name='viewport', content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
  body
    +a-smalltext() 
      | small text
    +a-mediumtext()
      | medium text
    +a-largetext()
      | large text
    +o-header

    .swiper-container
      .swiper-wrapper
        .swiper-slide
          +a-mediumtext()
            | slide1
        .swiper-slide
          +a-mediumtext()
            | slide2
        .swiper-slide
          +a-mediumtext()
            | slide3
        .swiper-slide
          +a-mediumtext()
            | slide4
        .swiper-slide
          +a-mediumtext()
            | slide5
        .swiper-slide
          +a-mediumtext()
            | slide6
        .swiper-slide
          +a-mediumtext()
            | slide7
      .swiper-scrollbar
