@import "~sanitize.css";
@import "~sanitize.css/forms.css";
@import "~sanitize.css/typography.css";

@import "./variables.scss";
@import "./util.scss";
@import "./mixin.scss";

@import "../components/**/*.scss";

html {
  font-size: 10px;
}

body {
  color: $black;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}
