[data-color="primary"] {
  color: $primary;
}

[data-color="primary-dark"] {
  color: $primary-dark;
}

[data-color="primary-light"] {
  color: $primary-light;
}

[data-color="secondary"] {
  color: $secondary;
}

[data-color="secondary-dark"] {
  color: $secondary-dark;
}

[data-color="secondary-light"] {
  color: $secondary-light;
}
