// colors
$white: #ffffff;
$black: #333333;
$primary: #eeaa66;
$primary-light: lighten($primary, 30%);
$primary-dark: darken($primary, 30%);
$secondary: #66aaee;
$secondary-light: lighten($secondary, 30%);
$secondary-dark: darken($secondary, 30%);

// widths
$break-point: 768px;
